@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Oxygen', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Oxygen';
  src: url('../public/Oxygen-Regular.ttf')

}

